html,body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.wrapper{
    position: absolute;
height: 1872px;
background: linear-gradient(180deg, rgba(239, 135, 33, 0.04) 28.19%, #E7404C 83.09%);
opacity: 0.1;
}
.header-wrapper{
    position: relative;
}
.logo{
    height: 50px;
    margin-top: 60px;
}
.header-content1{
    margin-top: 125px;
    font-family: SF Pro Display;
    font-size: 50px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    color: #312A28;
}
.header-content2{
    margin-top: 35px;
    font-family: Circular Std;
font-size: 16px;
line-height: 28px;
font-weight: normal;
text-align: center;
color: #595959;
opacity: 0.8;
}
.header-btn{
    width: 180px;
    height: 55px; 
    margin: auto;
    margin-top: 50px;
}
.together-btn{
    width: 300px;
height: 62px;
background: linear-gradient(213.5deg, #EF8721 52.71%, #E7404C 101.4%);
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
border: none;
border-radius: 50px;
margin-top: 50px;
font-family: SF Pro Display;
font-size: 20px;
line-height: normal;
text-align: center;
color: #FFFFFF;
}
.together-btn:hover{
    background: linear-gradient(213.5deg, #EF8721 52.71%, #E7404C 101.4%);
box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.15);
}
.together-btn:active{
    background: #F7541F;
box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.15);
}
.meet{
    margin-top: 150px;
    font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 42px;
color: #000000;
opacity: 0.8;
}
.clients{
    margin-top: 58px;
}
.clients img{
    height: 20px;
    margin-right: 15px;
}
.main1{
    margin-top: 85px;
}
.main1-1{
    height: 620px;
    background: #FAA634;
}
.main1 .main1-2{
    height: 620px;
    padding: 0;
}
.main1-1-header{
margin-top: 150px;
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: normal;
text-align: center;
color: #312A28;
}
.main1-1-content{
margin-top: 30px;
font-family: Circular Std;
font-size: 16px;
line-height: 28px;
text-align: center;
color: #595959;
opacity: 0.8;
}
.main2{
    margin-top: 120px;
background: url('img/Group 5.svg') no-repeat;
}
.main2-header{
    margin-top: 200px;
    font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: normal;
text-align: center;
color: #FFFFFF;
}
.main2-header-content{
    margin-top: 30px;
    font-family: Circular Std;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
opacity: 0.8;
}
.main2-1-header{
    margin-top: 120px;
    font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: normal;
text-align: center;
color: #FFFFFF;
}
.discovery{
    margin-top: 80px;
}
.experience{
    margin-top: 80px;
}
.research-text{
margin-top: 50px;
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: normal;
text-align: center;
color: #FFFFFF;
}
.research-content{
margin-top: 30px; 
font-family: Circular Std;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
opacity: 0.8;
}
.experience-text{
    margin-top: 50px;
    font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: normal;
text-align: center;
color: #FFFFFF;
    }
    .experience-content{
    margin-top: 30px; 
    font-family: Circular Std;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
opacity: 0.8;
    }
    .main3{
        padding-bottom: 50px;
        background: #FFFFFF;
    }
    .main3-header{
        width: 433px;
        height: 72px;
        margin-top: 150px;
        font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: normal;
color: #312A28; 
    }
    .fcmb-card{
        height: 400px;
margin-top: 50px;
background: url('img/Mask Group1.png') no-repeat;
border-radius: 10px;
box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.08);
    }
    .lending-card{
        height: 320px;
margin-top: 50px;
background: #000000;
opacity: 0.8;
    }
    .hosting-card{
        height: 320px;
margin-top: 50px;
background: #000000;
opacity: 0.8;
    }
    .fcmb-content{
margin-top: 20px;
font-family: Circular Std;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: normal;
color: #595959;
opacity: 0.7;
border-radius: 10px;
    }
    .fcmb-text{
        margin-top: 327px;
        font-family: Circular Std;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: normal;
        color: #595959;
        border-radius: 10px;
    }
    .arrow{
        margin-top: 150px;
    }
    .main4{
        margin-top: 90px;
        padding-bottom: 70px;
        opacity: 0.75;
        border-top: 1px solid #C2C2C2;
    }
    .about-pic{
        margin-top: 50px;
        background: url('img/Vector (4).svg') no-repeat;
    }
    .about-text{
        margin-top: 50px;
    }
    .about-header{
        font-family: Noto Serif KR;
        font-style: normal;
        font-weight: 550;
        line-height: normal;
        font-size: 50px;
        color: #000000;
    }
    .about-content1{
        margin-top: 20px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    font-size: 20px;
    color: #000000;
    opacity: 0.8;
    }
    .about-content2{
    margin-top: 20px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    font-size: 20px;
    color: #000000;
    opacity: 0.7;
    }
    .logo1{
        margin-left: 100px;
        margin-top: 50px;
        float: left;
    }
    .social{
        width: 150px;
    height: 25px;
    margin-top: 50px;
    float: left;
    }
    .twitter{
        margin-left: 10px;
    }
    .facebook{
        margin-left: 10px;
    }
    .medium{
        margin-left: 10px;
    }
    .start-text{
        margin-top: 68px;
        font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: normal;
color: #312A28;
    }
    .start-content{
        width: 327px;
height: 57px;
        margin-top: 20px;
        font-family: Circular Std;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color: #595959;
opacity: 0.8;
    }
    .logo-footer{
        float: right;
        margin-right: 117px;
        margin-top: 10px;
    }
    @media only screen and (max-width: 576px){
        .header-content1{
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 39px;
            text-align: center;
            color: #312A28;
        }
        .header-content2{
            font-family: Circular Std;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 25px;
            text-align: center;
            color: #595959;
            opacity: 0.8;
        }
        .meet{
            margin-top: 120px;
            margin-bottom: 80px;
            font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 33px;
color: #000000;
opacity: 0.8;
        }
        .lend{
            margin-top: 40px;
        }
        .lend1{
            margin-top: 40px;
        }
        .lean{
            margin-top: 40px;
        }
        .main1-1{
            height: 400px;
        }
        .main1-1-header{
            margin-top: 100px;
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: normal;
            text-align: center;
            color: #312A28;
        }
        .main1-1-content{
            font-family: Circular Std;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 25px;
            text-align: center;
            color: #595959;
            opacity: 0.8;
        }
        .main2{
            background: url('img/Group 2 (1).svg') no-repeat;
        }
        .main2-header{
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: normal;
            text-align: center;
            color: #FFFFFF;
        }
        .main2-header-content{
            font-family: Circular Std;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 25px;
            text-align: center;
            color: #FFFFFF;
            opacity: 0.8;
        }
        .main2-1-header{
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: normal;
            text-align: center;
            color: #FFFFFF;
        }
        .research-pic{
            height: 40px;
        }
        .research-text{
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: normal;
            text-align: center;
            color: #FFFFFF;
        }
        .research-content{
            font-family: Circular Std;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 25px;
            text-align: center;
            color: #FFFFFF;
            opacity: 0.8;
        }
        .experience-pic{
            height: 40px;
            margin-top: 30px;
        }
        .experience-text{
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: normal;
            text-align: center;
            color: #FFFFFF;
        }
        .experience-content{
            font-family: Circular Std;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 25px;
            text-align: center;
            color: #FFFFFF;
            opacity: 0.8;
        }
    .main3-header{
        width: 246px;
        height: 32px;
        margin: auto;
        margin-top: 200px;
        font-family: SF Pro Display;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: normal;
        text-align: center;
        color: #312A28;
    }
    .fcmb-card{
        margin-top: 30px;
    }
    .about-pic{
        height: 50px;
    }
    .ore-pic{
        height: 200px;
    }
    .main4{
        text-align: center;
    }
    .about-header{
        margin-top: 120px;
        font-family: Noto Serif KR;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-size: 26px;
        text-align: center;
        color: #000000;
    }
    .about-content1{
        font-family: IBM Plex Sans;
font-style: normal;
font-weight: 300;
line-height: 25px;
font-size: 14px;
text-align: center;
color: #000000;
opacity: 0.8;
    }
    .about-content2{
        font-family: IBM Plex Sans;
font-style: normal;
font-weight: 300;
line-height: 25px;
font-size: 14px;
text-align: center;
color: #000000;
opacity: 0.8;
    }
    .start-text{
        font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: normal;
color: #312A28;
    }
    .start-content{
        font-family: Circular Std;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 25px;
text-align: center;
color: #595959;
opacity: 0.8;
    }
    .logo-footer{
        float: none;
        margin: auto;
        margin-top: 20px;
    }
    .social{
        margin-bottom: 50px;
    }
 }
 @media only screen and (max-width: 768px){
     .main3-header{
         font-size: 30px;
         text-align: center;
         margin: auto;
     }
     .clients{
        margin-top: 58px;
    }
    .header-content1{
        margin-top: 150px;
    }
    .main2-header{
        margin-top: 50px;
    }
    .main2{
            background: url('img/Group 2.svg') no-repeat;
        }
 }
 @media only screen and (max-width: 1024px){
     .main3-header{
         margin-top: 100px;
     }
     .main2-header{
         margin-top: 130px;
     }
     .main2-1-header{
         margin-top: 90px;
     }
}